body{
    text-align: center;
}

.jeux_box{
    border-style: solid;
    border-radius: 20px;
    flex: 1;
}

#button_start{
    color: white;
    background: linear-gradient(orange, pink);
    border-radius: 20px;
    border-style: none;
    font-size: 25px;
    position: absolute;
    top: 35%;
    left: 40%;
}