body{
    text-align: center;
    background-color: black;
    font-family: "Bungee", sans-serif;
}

.jeux_box{
    border-style: solid;
    border-radius: 20px;
    flex: 1;
}

#button_start{
    color: white;
    background: linear-gradient(orange, pink);
    border-radius: 20px;
    border-style: none;
    font-size: 25px;
    position: absolute;
    top: 35%;
    left: 40%;
}

ul li{
    justify-content: space-between;
}

.conteneur {
    position: relative;
}


.element2 {
position: absolute;
top: 20px;
left: 30%;
width: 100px;
height: 100px;
}

.element3 {
position: absolute;
top: 2rem;
left: 10rem;
width: 100px;
height: 100px;
}

.jeux{
    position: absolute;
    top: 20%;
    left: 10%;

}

.jeu{
    border: 6px solid #481B71;
    border-radius: 15px;
}

.categorie{
    position: absolute;
    top: 27rem;
    left: 31.5rem;
}

.parametres{
    position: absolute;
    top: 37rem;
    left: 78.5rem;
}

.parametres_box{
    display: block;
    border: 6px solid #481B71;
    background: linear-gradient(to right, orange, pink);
    width: 600px;
    border-radius: 20px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}