{% extends "base.html.twig" %}

{% block title %} Classique | {{ parent() }} {% endblock %}

{% block body %}

<div class="element1">
    <video autoplay muted loop>
        <source src="vid/ANIM_CATEGORIES.mp4" type="video/mp4">
    </video>
</div>

<a href="{{ path('accueil') }}"><img src="img/fleche.png" class="fleche" width="70px"></a>

<div class="container">
    <h1>Classiques</h1>
    <div>
        <a href="{{ path('ongame3') }}"><img src="{{ img }}" width="400px"></a>
    </div>
</div>

{% endblock %}