{% extends "base.html.twig" %}

{% block title %} Glad'N'Slash | {{ parent() }} {% endblock %}

{% block body %}

<a href="https://n59fjp.csb.app" class=""><button class="btn btn-primary">Jouer</button></a>

{% endblock %}

