{% extends "base.html.twig" %}

{% block title %} Intro | {{ parent() }} {% endblock %}

{% block body %}

<a href="{{ path('animation')}}"><img src="img/ECRAN_ACCUEIL_Plan_de_travail_1.jpg" width="1230px" height="720px"></a>

{% endblock %}