{% extends "base.html.twig" %}

{% block title %} Pacman | {{ parent() }} {% endblock %}

{% block body %}

<a href="{{ path('accueil') }}"><img src="img/fleche.png" class="fleche" width="70px"></a>

<iframe
    id="inlineFrameExample"
    title="Inline Frame Example"
    width="1280"
    height="720"
    src="https://freepacman.org/">
</iframe>

{% endblock %}