{% extends "base.html.twig" %}

{% block title %} Gladnslash | {{ parent() }} {% endblock %}

{% block body %}

<a href="{{ path('accueil') }}"><img src="img/fleche.png" class="fleche" width="70px"></a>

<iframe
    id="inlineFrameExample"
    title="Inline Frame Example"
    width="1280"
    height="720"
    href="{{ path('ongame1') }}"
    src="https://codesandbox.io/embed/gladn-slash-forked-n59fjp?fontsize=14&hidenavigation=1&theme=dark&view=preview">
</iframe>

{% endblock %}