{% extends "base.html.twig" %}

{% block title %} Paramètres | {{ parent() }} {% endblock %}

{% block body %}

<video autoplay muted loop>
    <source src="vid/ANIM_PAGE_REGLAGE.mp4" type="video/mp4">
</video>

<a href="{{ path('accueil') }}"><img src="img/fleche.png" class="fleche" width="70px"></a>

<div class="element3">
    <a href="{{ path('emulateur') }}"><img src="img/logo_mmi_adulte_Plan_de_travail_1.png" width="100px" height="100px" class="accueil"></a>
</div>

<div class="parametres_box ">
    <h1>Paramètres</h1>
    <div class="d-flex">
        <div style="flex: 1">
            <img src="img/sons2.png" width="30px" height="30px"><button onclick="couperMusique()">Couper le son</button><br>
            <img src="img/sons1.png" width="30px" height="30px"><button onclick="allumerMusique()">Activer le son</button><br>
        </div>
        <div style="flex: 1"> 
            <img src="img/musique1.png" width="30px" height="30px"><button onclick="couperMusique()">Couper la musique</button><br>
            <img src="img/musique2.png" width="30px" height="30px"><button onclick="allumerMusique()">Activer la musique</button><br>
        </div>
    </div>
</div>
{% endblock %}